@model Rocky_DOTNET_10.Models.ApplicationType

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="card shadow-sm border-info">
                <div class="card-header bg-info text-white">
                    <h3 class="mb-0">
                        <i class="bi bi-pencil-square me-2"></i> Edit Application Type
                    </h3>
                </div>

                <div class="card-body">
                    <form asp-action="Edit" method="post">
                        <input asp-for="Id" type="hidden" />

                        <!-- Category Name -->
                        <div class="mb-3 row">
                            <label asp-for="Name" class="col-sm-4 col-form-label fw-bold"></label>
                            <div class="col-sm-8">
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Action Buttons -->
                        <div class="row mt-4">
                            <div class="col-sm-8 offset-sm-4 d-flex gap-3">
                                <button type="submit" class="btn btn-info w-50">
                                    <i class="bi bi-check-lg me-1"></i> Update
                                </button>

                                <a asp-action="Index" class="btn btn-secondary w-50">
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                    Back
                                </a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
