@model Rocky_DOTNET_10.Models.Category

<form method="post" asp-action="Create">
    <div class="border p-4 mt-4">
        @* <div asp-validation-summary="All" class="text-danger"></div> *@
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h2 class="text-info mb-4">Add Category</h2>

        <div class="row mb-3">
            <div class="col-4">
                <label asp-for="Name" class="form-label"></label>
            </div>
            <div class="col-8">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-4">
                <label asp-for="DisplayOrder" class="form-label"></label>
            </div>
            <div class="col-8">
                <input asp-for="DisplayOrder" class="form-control" />
                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            </div>
        </div>

        <!-- Action buttons -->
        <div class="row mt-4">
            <div class="col-8 offset-4 d-flex gap-3">

                <button type="submit" class="btn btn-info w-50">
                    Create
                </button>

                <a asp-action="Index" class="btn btn-secondary w-50">
                    Back
                </a>

            </div>
        </div>

    </div>
</form>
